// light mode
$light_bg: #F5F5F5;
$light_text_color: #222222;
$light_navbar_bg: #FFF;
$light_aside_bg: #FFF;
$light_border_color: #efefef;

// dark mode
$dark_bg: #1A191F;
$dark_text_color: #cccccc;
$dark_navbar_bg: #131218;
$dark_aside_bg: #131218;
$dark_border_color: #1b1b1b;

// colors
$primary: #756AF8;